@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  }

  body {
    background: black;
    font-family: 'Readex Pro', sans-serif;
    color: white;
}

